@model Foodie.Models.User
@{
    ViewBag.Title = "Profile";
}

@section featured{
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
        </div>
    </section>
}

<!-- content -->
<!-- check if user is logged in-->
<fieldset>
    <ol>
        <li>
            @Html.LabelFor(m => m.Username)
            @Html.DisplayTextFor(m => m.Username)
        </li>
        <li>
            @Html.LabelFor(m => m.Email)
            @Html.DisplayFor(m => m.Email)
            @Html.ActionLink("Change Email", "ChangeEmail", "Account")
        </li>
        <li>
            @Html.LabelFor(m => m.ProfileType)
            @Html.DisplayFor(m => m.ProfileType)
        </li>
        <li>
            @Html.LabelFor(m => m.LastLoginDate)
            @Html.DisplayFor(m => m.LastLoginDate)
        </li>
        <li>
            @Html.LabelFor(m => m.CreationDate)
            @Html.DisplayFor(m => m.CreationDate)
        </li>
        <li>
            @Html.ActionLink("Change Password", "ChangePassword", "Account")
        </li>
    </ol>
</fieldset>